$loading-bg-color: #666666;
$loading-text-color: #FFFFFF;
$left-nav-menu-z-index: 100;

.loading,
.loading--placeholder {
    @include adjust-font-size-to(16px, 3);
    @include rhythm-borders(1px, 1);
    border-radius: 0.5em;
    border-color: $loading-bg-color;
    color: $loading-text-color;
    display: block;
    text-align: center;
    position: absolute;
    width: rhythm(5.5);
    height: rhythm(3.5);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5) url(/images/tlc/sprite_loading_v2.gif) no-repeat 50% rhythm(0.5);
    z-index: #{$left-nav-menu-z-index - 1};
}

.loading--placeholder {
    left: 50%;
    top: 50%;
    margin-left: - rhythm(5.5/2);
    margin-top: - rhythm(3.5/2);
}

.loading--submenu {
    position: static;
    margin: auto;
}
