$left-nav-menu-z-index: 100;
$font-color-text: #535353;
$border-color: #999999;
$link-color: #1D659F;
$heading-color: #739E2D;

$base-line-height: 26px;
$base-font-size: 12px;

$rhythm-unit: 'rem';
$font-family: Arial, sans-serif;
