@import 'helpers/compass-altered/typograpy/vertical_rhythm';
@import 'variables';
@import 'loading';

$training-library-th-color: #FFFFFF;
$training-library-th-bg-color: #FFFFFF;
$training-library-alt-row-bg-color: #EEEEEE;

.training-library {
    box-sizing: border-box;
    position: relative;
    font-size: $base-font-size;
    font-weight: normal;
    font-family: $font-family;
    color: $font-color-text;
    min-height: 400px;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

.training-library-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 2em;
    border-spacing: 0;

    th {
        background-color: $link-color;
        color: $training-library-th-color;
        font-size: 16px;
        font-weight: normal;

        text-align: left;
        border-style: solid;
        border-color: $link-color $training-library-th-color;
        border-width: 0 1px 1px 0;
        padding: 0;

        &:last-child {
            border-right-color: $link-color;
        }
        div {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0.5em 0.625em;
        }
    }

    td {
        font-size: 12px;
        border: 1px solid $border-color;
        padding: 0.667em 0.833em;
        height: 3.75em;
        font-family: $font-family;
    }

    tr {
        &:nth-child(even) {
            background-color: $training-library-alt-row-bg-color;
        }
    }
}

// scss-lint:disable QualifyingElement SelectorFormat
.training-library-heading,
.ms-WPBody h3.training-library-heading {
    color: $heading-color;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0.5em;
}

// scss-lint:enable QualifyingElement SelectorFormat

.training-library-table__col--level {
    width: 78px;
}

.training-library-table__col--title {
    width: auto;
}

.training-library-table__col--track,
.training-library-table__col--product {
    width: 168px;
}

.training-library-column-sort-btn-group {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    display: none;
    li {
        border-color: $border-color;
        border-style: solid;
        border-width: 1px 1px 0;
        &:last-child {
            border-bottom-width: 1px;
        }
    }
}

.training-library-column-sort-btn-toggle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    background: transparent;
    width: 22px;
    text-indent: 23px;
    cursor: pointer;
    &:hover,
    &:focus,
    &.sf-hover {
        background-color: #134166;
    }
    > li:first-child:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        background: transparent url(/images/tlc/white_triangle.svg) no-repeat 50% 50%;
        background-size: contain;
    }

}

.training-library-column-sort-btn {
    border: 0;
    border-radius: 0;
    position: relative;
    background: transparent;
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-indent: 0;
    padding: 0 10px 0 32px;
    font-size: 11px;
    line-height: 2.2;
    &:hover,
    &:focus,
    &.sf-hover {
        background-color: #DDDDDD;
    }
    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: $border-color;
        width: 27px;
        top: 0;
        bottom: 0;
        left: 0;
        background: #FFFFFF url(/images/tlc/sort--ascending.svg) no-repeat 50% 50%;
        background-size: contain;
        background-origin: content-box;
        padding: 3px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }
}

.training-library-column-sort-btn--descending:before {
    background-image: url(/images/tlc/sort--descending.svg);
}

.training-library-sf-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
        height: 100%;
        display: block;
        a {
            height: 100%;
            display: block;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.training-library-item__title.is-new:before {
    content: 'New!';
    color: #78A22F;
    margin-right: 5px;
    font-weight: bold;
}

.training-library-nav {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.training-library-nav-item {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.training-library-nav-item__title {
    border: 1px solid #698F29;
    border-radius: 5px;
    background: linear-gradient(#85B634 50%, #749E2E 51%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    width: 229px;
    display: block;
    padding: 1em;
    position: relative;
    z-index: 2;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        width: 13px;
        height: 13px;
        background: transparent url(/images/tlc/white_triangle.svg) no-repeat 50% 50%;
        background-size: contain;
        transform: translate(0, -50%);
    }
}

.training-library-nav-item ul {
    position: absolute;
    left: 0.25em;
    right: 0.25em;
    top: calc(100%);
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    li {
        border-style: solid;
        border-color: $border-color;
        border-width: 0 1px 1px;
        color: #666666;
        font-size: 14px;
        padding: 0.438em 1em;
        background: #FFFFFF;
        cursor: pointer;
        &:hover {
            background: #DDDDDD;
        }
    }
}
