{{#each items}}
    <div style="display: none">
        <div class="windowContent training-library-details-window" id="courseContent_{{ID}}">
            <h1>{{{[helpers/addReg] ([helpers/formatGroup] Group)}}}</h1>
            <h2>{{{[helpers/addReg] Title}}}</h2>

            <h3>Course Description</h3>
            <div class="description">{{{Description}}}</div>

            <h3>Links</h3>
            <div class="description lessonLinks">{{{[helpers/formatLinks] this}}}</div>

            <h3>Tracks</h3>
            <p class="description training-library-details-window__tracks">{{[helpers/formatTracks] Tracks}}</p>
        </div>
    </div>
{{/each}}
