<h3 class="training-library-heading">{{name}}</h3>
<table class="training-library-table">
    <colgroup>
        <col class="training-library-table__col--level">
        <col class="training-library-table__col--title">
        <col class="training-library-table__col--product">
        <col class="training-library-table__col--track">
    </colgroup>
    <thead>
    <tr>
        <th data-sort="Levels">
            <div>
                Level
                    {{>training-library-column-sort}}
            </div>
        </th>
        <th data-sort="Title">
            <div>
                Title
                    {{>training-library-column-sort}}
            </div>
        </th>
        <th data-sort="Group">
            <div>
                Product
                    {{>training-library-column-sort}}
            </div>
        </th>
        <th data-sort="Tracks">
            <div>
                Track
                    {{>training-library-column-sort}}
            </div>
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
