<td>
    {{Levels}}
</td>
<td>
    <a class="training-library-item__title {{[helpers/isNew] New}}"
       href="#courseContent_{{ID}}">{{{[helpers/addReg] Title}}}</a>
</td>
<td>
    {{[helpers/formatTracks] Tracks}}
</td>
