<ul class="training-library-nav">
    <li class="training-library-nav-item"
        data-default-text="View by Product"
        data-property="Group">
        <span class="training-library-nav-item__title">View by Product</span>
        <ul>
            {{#each products}}
                <li data-title="{{this}}">{{{[helpers/addReg] this}}}</li>
            {{/each}}
        </ul>
    </li>
    <li class="training-library-nav-item"
        data-default-text="View by Level"
        data-property="Levels">
        <span class="training-library-nav-item__title">View by Level</span>
        <ul>
            {{#each levels}}
                <li data-title="{{this}}">{{this}}</li>
            {{/each}}
        </ul>
    </li>
    <li class="training-library-nav-item"
        data-default-text="View by Track"
        data-property="Tracks">
        <span class="training-library-nav-item__title">View by Track</span>
        <ul>
            {{#each tracks}}
                <li data-title="{{this}}">{{this}}</li>
            {{/each}}
        </ul>
    </li>
    <li class="training-library-nav-item training-library-nav-item--new"
        data-default-text="New Courses"
        data-property="New">
        <span class="training-library-nav-item__title">New Courses</span>
    </li>
</ul>
