<ul class="training-library-sf-menu training-library-column-sort-btn-toggle">
    <li tabindex="0">
        <ul class="training-library-column-sort-btn-group">
            <li>
                <button class="training-library-column-sort-btn training-library-column-sort-btn--ascending"
                        data-direction="asc"
                        tabindex="0">
                    Ascending
                </button>
            </li>
            <li>
                <button class="training-library-column-sort-btn training-library-column-sort-btn--descending"
                        data-direction="dec"
                        tabindex="0">
                    Descending
                </button>
            </li>
        </ul>
    </li>
</ul>
